* {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Merriweather', serif;
background-color: #ffffff;
}

.navbar {
  background-color: #f9fafc;
  align-items:center;
  justify-content: space-around;
  display: flex;
  padding:  10px 30px;
}

.navbar_brand {
  width:100px;
}

.navbar_logo {
  width:=100%;
  height: 3em;
}

.nav_items {
  background-image: linear-gradient(
    to right,#ff512f 0%,
    #dd2476 51%,
      #ff512f 100%);
      color: #fff;
      border: none;
      padding: 12px;
      border-radius: 6px;
     }
.nav_items:hover {
  background-position: right center;
  border: 2px solid pink;
  cursor: pointer;
}

@media (min-width :768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 30px;
  }
}


@media (min-width:1024px) {
    .navbar_logo {
      width: 150px;
    }

    .nav_items {
      padding: 20px;
      font-size: 20px;
      font-weight: 600;
    }
}
